{deps, [
  {hackney, ".*",
    {git, "git://github.com/benoitc/hackney.git", {tag, "1.0.5"}}},
  { jsx, "2.0.4",
    {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}}
]}.

{require_otp_vsn, "17"}.

% EUnit settings:
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, false}.
{cover_print_enabled, false}.